body {
    font-family: "Pretendard", sans-serif;
    max-width: 640px;
    margin: auto;
    padding: 20px;
    color: #19191e;
    background-color: #f7f7f9;
    line-height: 1.5;
}

table, th {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}

img {
    max-width: 100%;
    max-height: 480px;
}

a {
    text-decoration: none;
    color: #4678B2;
}

a:hover {
    text-decoration: underline;
}
