{{ partial "header.html" . }}
    <ol>
        {{ range .Ancestors.Reverse }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ol>
    <hr>

    <h1>{{ .Title }}</h1>
    <p>{{ .Date | time.Format ":date_full" }} {{ .Date | time.Format ":time_short" }}</p>

    {{ .TableOfContents }}

    {{ .Content }}

    <hr>
    <ul>
    {{ range .Sections }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    {{ end }}
    </ul>
{{ partial "footer.html" . }}
