{{ partial "header.html" . }}
  <ol>
    {{ range .Ancestors.Reverse }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ol>
  <hr>

  <h1>{{ .Title }}</h1>
  <p>{{ .Date | time.Format ":date_medium" }} {{ .Date | time.Format ":time_short" }}</p>
  <p>
    <a href="https://github.com/zeli-b/wiki/blame/main/{{ substr .RelPermalink 0 -1 }}.md">
      편집 내역
    </a>
  </p>

  {{ .TableOfContents }}

  {{ if .Content }}
    <hr>
  {{ end }}

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7030584187241861"
                crossorigin="anonymous"></script>
  <!-- PC 사트 세로 광고 -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-7030584187241861"
       data-ad-slot="7415278944"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  {{ .Content }}

  <hr>
  
  <ul>
    {{ range .Sections }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    {{ end }}
  </ul>
{{ partial "footer.html" . }}
