<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
<link href="//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css" rel="stylesheet" />

<style>

@font-face {
  font-family: "Sapota";
  src: url("/Sapota.woff") format("woff");
}


body {
    font-family: Sapota, "Pretendard", sans-serif;
    line-height: 1.5;
    color: var(--color);
    background-color: var(--background-color);
}

@media (prefers-color-scheme: light) {
  body {
    --color: #19191e;
    --background-color: #f7f7f9;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --color: #f7f7f9;
    --background-color: #2c2c2c;
  }
}

.visible-device {display:none;}
.visible-desktop {display:display;}
@media (max-width : 320px) {
  .visible-device {display:block;}
  .visible-desktop {display:none;}
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 20px;
    display: flex;
    gap: 16px;
}

.content {
  flex: 1;
}

.ad {
  max-width: 320px;
}

pre {
    max-width: 100%;
    overflow-x: auto;
    padding: 4px;
}

code, pre {
    font-family: "D2Coding", "Consolas", monospace;
}

table, th {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

img {
    max-width: 100%;
    max-height: 600px;
}

th img,
td img {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #4678B2;
}

a:hover {
    text-decoration: underline;
}

h2, h3, h4, h5, h6 {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 4px;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 0 16px;
    border: 1px dashed grey;
    border-left: 4px solid #5c94b3;
}

</style>
