    </div>
    <div class="ad">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7030584187241861"
                    crossorigin="anonymous"></script>
      <!-- PC 사트 세로 광고 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-7030584187241861"
           data-ad-slot="7415278944"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</body>
</html>
