    </div>
    <div class="ad visible-desktop">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7030584187241861"
                    crossorigin="anonymous"></script>
      <!-- PC 사트 세로 광고 -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:240px;height:720px"
           data-ad-client="ca-pub-7030584187241861"
           data-ad-slot="7415278944"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</body>
</html>
