<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="/sat logo.png" />
  <meta property="og:title" content="{{ .Page.Title }}" />
  <meta property="og:description" content="{{ .Page.Summary }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:image" content="/sat logo.png" />
  <meta property="og:locale" content="ko_KR" />
  <meta name="twitter:title" content="{{ .Page.Title }}">
  <meta name="twitter:description" content="{{ .Page.Summary }}">
  <meta name="twitter:image" content="/sat logo.png">
  <meta name="theme-color" content="#5c94b3">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7030584187241861" crossorigin="anonymous"></script>
  <title>{{ .Page.Title }} - {{ .Site.Title }}</title>
  {{ partialCached "css/heading.html" . }}
  {{ partialCached "css/style.html" . }}
  {{ partialCached "math.html" . }}
</head>
<body>
  <p style="text-align: center;">
    <a href="/"><img src="/sat logo.png" style="width: 24px;"></a>
  </p>
  <hr>
  <div class="container">
    <div class="content">
